.default {
  background-color: white;
  color: black;
}

.senang {
  background: #ca8a04;
}

.sedih {
  background: #1d4ed8;
}

.marah {
  background: #991b1b;
}

.semangat {
  background: #15803d;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #B7B7BB;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  margin-top: 130px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 4px 5px 10px #616162;
  gap: 5px;
}

#mood {
  padding: 9px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

#mood:hover {
  background-color: #D5D5D5;
  transform: scale(1.03);
}
